*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.navbar{
    width: 100%;
    height: 15vh;
    background-color:  rgb(36, 13, 13);
    display: flex;
    justify-content: center;
}
.icon{
    color: white;
    height: 100%;
}
.icon i{
    color: blue;
}
.icon h1{
    margin-top: 30px;
}
.content .btn{
    background-color: #29d9d5;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    margin-left: 120px;
}
.content{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content a{
    color: white;
    margin: 0 20px;
    text-decoration: none;
}
.main{
    width: 80%;
    margin: auto;
    border-radius: 6px;
    height: 80px;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 20px;
}
.main h3{
    color:blue;
}
.section{
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
   
}
.section2{
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.box{
    margin-top: 10px;
    width: 30%;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
.box img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.box img:hover{
    filter: grayscale(0.8);
    cursor: pointer;
    
}

.image{
   margin-top: 20px;
}
.section3{
    margin-top: 20px;
    height: 50vh;
    width: 100%;
   background-image: url("nature.jpg");
   background-size: cover;
   opacity: 0.9;
   text-align: center;
   padding-top: 50px;
   line-height: 2em;
   font-weight: bolder;
}
.section3 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.section3 .btn,.part3 .btn{
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #29d9d5;
    margin-top: 20px;
}
.btn:hover{
    cursor: pointer;
}
.foot{
    height: 45vh;
    width: 100%;
    background-color: black;
    display: flex;
    color:white;
    justify-content: center;
}
.btn:hover{
    background-color: #29d9d5;
}

.part1,.part2,.part3{
    width: 40%;
    height: 100%;
    padding-top: 30px;
    padding-left: 50px;
    line-height: 2em;
}
.part2,.part3{
    line-height: 3em;
}
.part2{
    padding-left: 30px;
    margin-left: 40px;
}
.part3 input{
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border:none;
    border:2px solid  #29d9d5;
    color: white;
}
.icons i{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
span{
    border-radius: 100%;
    border: 1px solid #29d9d5;
}
.part1 a{
    font-size: 2em;
    color: white;
    text-decoration: none;
}
.part1 a:hover{
  cursor: pointer;
  color: white;
}

button:hover{
    opacity: 0.8;
}
.section3 h2{
    color: #29d9d5;
    font-size: 1.6em;
}